body{
    font-family: fantasy;
    background: linear-gradient(135deg, rgb(23, 23, 124), rgb(28, 28, 61));
    height: 100vh;
}
.card{
    background-color: white;
    padding: 40px;
    text-align: center;
    max-width: 350px;
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h1{
    color: rgb(61, 60, 60);
    margin:20px 0 5px 0;
}
h2.title{
  color: gray;
  font-size: 25px;
  font-weight: 100;
  margin:0 0 20px 0;
  text-transform: uppercase;
}
.bio{
    line-height: 1.7;
    color: rgb(61, 60, 60);
}
.avatar{
    border: 4px solid crimson;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.skills{
list-style: none;
display: flex;
justify-content: center;
padding: 0;
flex-wrap: wrap;
}
.skills li{
    margin-left: 5px;
    background-color: darkcyan;
    padding: 8px 10px;
    border-radius: 20px;
}
.contact-btn{
    background-color: rgb(51, 51, 189);
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 9px;
    margin-top: 35px;
    display: block;
    transition: all .4s ease-in-out;
}
.contact-btn:hover{
    background-color: rgb(69, 69, 189);
    transform: translateY(-4px);
}